/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
    background: #364949;
    font-family: Helvetica;
    color: white;
}
h1.title {
    color: gold;
    font-style: bold;
    font-size: 200%;
    
}
h1 {
    font-family: Garamond;
    color: white;
    font-size: 150%;
}
table#dragons {
    margin: 50px 0px;
    padding: 10px;
    width: 100%;
    color: DarkSlateGrey;
    background: PowderBlue;
}
table#dragons th{
    background: gold;
}
table#dragons th, table#dragons td{
    text-align: left;
    padding: 10px;
}
td img {
    display: block;
    margin: auto;
}
table#dragons a {
    background: transparent;
    text-decoration: none;
    color: DarkSlateGrey;
}
tr:hover {
    background: white;
}
a {
    color: PowderBlue;
    background: transparent;
}